<!DOCTYPE HTML>
<html>
<head>
  <title>Menu</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
  <body bgcolor="#018281">
		
    <table border="5" bgcolor="#C0C0C0" width="100%" cellspacing="2">
      <tr bgcolor="#C6C6C6">
        <td align="center">
          <a href="/main/">Home</a>
        </td>
      </tr>
    </table>

    <table border="5" bgcolor="#C0C0C0" width="100%" cellspacing="2">
      <tr bgcolor="#C6C6C6">
        <td align="center">
          <a href="/info/">About Me</a>
        </td>
      </tr>
    </table>

    <table border="5" bgcolor="#C0C0C0" width="100%" cellspacing="2">
      <tr bgcolor="#C6C6C6">
        <td align="center">
          <a href="/blog/">Blog</a>
        </td>
      </tr>
    </table>

    <table border="5" bgcolor="#C0C0C0" width="100%" cellspacing="2">
      <tr bgcolor="#C6C6C6">
        <td align="center">
          <a href="/blog/miniblog/">Miniblog</a>
        </td>
      </tr>
    </table>

    <table border="5" bgcolor="#C0C0C0" width="100%" cellspacing="2">
      <tr bgcolor="#C6C6C6">
        <td align="center">
          <a href="/images_collection/menu/">GIFs</a>
        </td>
      </tr>
    </table>
    
    <table border="5" bgcolor="#C0C0C0" width="100%" cellspacing="2">
      <tr bgcolor="#C6C6C6">
        <td align="center">
          <a href="/shrines/">Shrines</a>
        </td>
      </tr>
    </table>

    <table border="5" bgcolor="#C0C0C0" width="100%" cellspacing="2">
      <tr bgcolor="#C6C6C6">
        <td align="center">
          <a href="/guestbook/">Guestbook</a>
        </td>
      </tr>
    </table>

    <table border="5" bgcolor="#C0C0C0" width="100%" cellspacing="2">
      <tr bgcolor="#C6C6C6">
        <td align="center">
          <a href="/links/">Links</a>
        </td>
      </tr>
    </table>
    
    <table border="5" bgcolor="#C0C0C0" width="100%" cellspacing="2">
      <tr bgcolor="#C6C6C6">
        <td align="center">
          <a href="/sitemap/">Sitemap</a>
        </td>
      </tr>
    </table>

    <center>
    <a href="/not_found/" target="_top"><img src="/images/invisible_button.png"></a>
    </center>

  </body>
</html>
