<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <title>{{ title }}</title>
  <meta name="author" content="Cezarr">
  <meta name="description" content="{{ description }}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="/images/cezarr_button.png" />
</head>

<body background="/images/backgrounds/{{ background }}">

  <div id="layout">
    <div id="menu-container"></div>
	<div id="menu-mobile-container"></div>
    <main id="content">

    <table border="5" bgcolor="#C0C0C0" cellpadding="6" cellspacing="2">
      <tr>
        <td bgcolor="#C6C6C6" align="center">
			<p></p>
			{{ content | safe }}
			<p></p>
        </td>
      </tr>
    </table>

    </main>
  </div>

  <script src="/assets/js/menu.js"></script>
</body>
</html>
