/* --- General Section --- */

/* Removes the empty frame added by some browsers and slightly increases the text size */
body {
  margin: 0;
  font-family: "Times New Roman", serif;
  font-size: 1.1em;
}

/* Places items side by side and extends the menu to the bottom of the page */
#layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* --- Content Section --- */

/* Positions table with page content and sets it to a certain size */
#content {
  width: 900px;
  max-width: 100%;
  padding: 10px; /* Empty space between the container and its content */
  margin-left: auto; /* Centers table in the middle of the window */
  margin-right: auto;
}

/* Centers table inside #content section (required for Eleventy) */
#content table {
  margin-left: auto;
  margin-right: auto;
}

/* ">" Makes only the main table stretch to the default size, when any other tables inside it are unaffected */
#content > table {
  width: 100%;
}

/* --- Menu Section --- */

#menu-container {
  width: 150px;
  flex-shrink: 0; /* Keep the menu in the same width no matter what */
  background-color: #018281;
  padding: 10px;
  box-sizing: border-box; /* Prevents the menu from becoming too wide */
  border-right: 4px ridge #c0c0c0;
}

/* Sets the color to black (instead of the default blue) and removes the underline */
#menu-container a {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

/* Empty gaps between menu "buttons" */
#menu-container table {
  margin-bottom: 15px;
}

/* --- Mobile Section --- */

/* Prevents mobile browsers from adjusting the text size */
* { /* Asterisk = every single element on the page */
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Resize images for the mobile screens */
img {
  max-width: 100%;
}

/* ;-; */
